# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases (if local)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
